.search-center {
    .list-title {
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .list-container {
        margin-top: 2%;
        margin-bottom: 2%;
        align-items: center; 
        justify-content: center;
    }
    
    .list-itemarea {
        border-top: 5px solid #e2e2e2;
        border-bottom: 5px solid #e2e2e2;
        padding-top: 15px;
    }
    .list-titles{
        display: flex;              
        flex-wrap: wrap;            
        gap: 1rem;                  
        padding: 1rem;             
        align-items: center;       
        width: 100%;  
        font-weight: bold; 
        border-bottom: 2px solid #e2e2e2;     
    }
    .list-detail {
        margin: 0.5rem;          
        padding: 0.5rem;         
        border-radius: 4px;      
        display: flex;    
        gap: 2%;             
    }

    .list-detail:nth-child(1) {
        flex: 0 1 30%;           
    }

    .list-detail:nth-child(2) {
        flex: 0 1 35%;           
    }

    .list-detail:nth-child(3) {
        flex: 0 1 15%;          
    }

    .list-detail:nth-child(4) {
        flex: 0 1 10%;          
    }

    .no-results{
        font-weight: bold;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 6%;
        color: var(--highlight-color3);
    }
}
