.ContentsPage_Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: white;
    /*background-color: var(--highlight-color1);*/
}

@media (max-width: 768px) {
    .ContentsPage_Container {
        flex-direction: column;
    }
}