#header {
  .logo-img {
    width: 6rem;
  }

  .underline {
    height: 3px;
    margin-top: 0.3rem;
    background-color: var(--highlight-color3);
    visibility: hidden;
  }

  .nav-menu-item {
    font-weight: 600;
    padding-inline: 1.75rem;
    @media (min-width: 992px) {
      padding-inline: 1rem;
    }
    @media (min-width: 1200px) {
      padding-inline: 1.5rem;
    }
    @media (min-width: 1400px) {
      padding-inline: 2rem;
    }

    .underline {
      transition: all 0.3s, visibility 0s ease-in-out;
      width: 0;
    }

    &.active,
    &:hover {
      color: var(--highlight-color3);
      .underline {
        width: 100%;
        visibility: visible;
      }
    }
  }

  .input-box {
    .input-button {
      background-color: var(--highlight-color3);
      border-color: var(--highlight-color3);
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
      width: 3.8rem;

      @media (min-width: 576px) {
        font-size: 1.25rem;
      }
    }

    &:hover {
      .input-button {
        opacity: 1;
      }
    }
  }

  .mobile-menu {
    li:first-child {
      display: none;
    }
    .mobile-menu-item {
      .underline {
        width: 100%;
      }
      &.active {
        color: var(--highlight-color3);
        .underline {
          visibility: visible;
        }
      }
    }
  }
}
