.list-Allcontainer{
    margin-top: 2%;
    border-top: 2px solid #eeeded;
    margin-bottom: 2%;
}
.list-container{
    border-bottom: 2px solid #eeeded;
}

.list-item {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.list-img{
    width: 100px;
    height: 140px;
    margin-right: 35px;
    object-fit: cover;
}
.list-detail1,
.list-detail2, 
.list-detail3 {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    margin-left: 10px;
}


.ms-3 {
    margin-left: 1rem;
}