.search-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 5rem;

  .keyword {
    color: var(--highlight-color3); 
    font-weight: bold;
  }
  
  .search-box {
    justify-content: center; 
    background-color: #f3f3f3; 
    padding: 30px; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100vh; 
    text-align: center;
    margin-bottom: 4%;
    margin: 0 auto;
  }
  
  .search-box h1 {
    text-align: center; 
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .search-form .form-control {
    background-color: transparent; 
    border: none;
    border-bottom: 1px solid gray; 
    width: 30vh;
    height: 3vh;
    border-radius: 0; 
  }
  
  .search-form .form-control:focus {
    box-shadow: none; 
    border: none;
  }

  .search-form .btn-srch {
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    width: 3vh; 
    height: 3vh; 
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    color: var(--main-font-color);
  }
  
  .button-group {
    text-align: center;
    margin: 20px 0;
}

.button-group .btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: var(--main-font-color);
    transition: background-color 0.3s, color 0.3s;
}

.button-group .btn:hover {
    background-color: var(--highlight-color3);
    color: #fff;
}

.none-search{
  padding: 10%;
  text-align: center;
}
.input-container {
  position: relative;
}

.input-container .form-control {
  padding-right: 30px; 
}

.clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--main-font-color);
  font-size: 1.2rem;
  background: none;
  border: none;
}

}

