.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 5rem;
  }

  .keyword {
    color: #007bff; 
    font-weight: bold;
  }
  
  .search-box {
    background-color: #f3f3f3; 
    padding: 30px; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100vh; 
    text-align: center;
    margin-bottom: 4%;
  }
  
  .search-box h1 {
    text-align: center; 
  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
  }
  
  .search-form .form-control {
    background-color: transparent; 
    border: none;
    border-bottom: 1px solid gray; 
    width: 30vh;
    height: 3vh;
    border-radius: 0; 
  }
  
  .search-form .form-control:focus {
    box-shadow: none; 
    border: none;
  }

  .search-form .btn-srch {
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    width: 3vh; 
    height: 3vh; 
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
    color: black;
  }
  
  .button-group {
    text-align: center;
    margin: 20px 0;
}

.button-group .btn {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.button-group .btn:hover {
    background-color: gray;
    color: #fff;
}

.none-search{
  padding: 10%;
  text-align: center;
}