.performance-card {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 15px;
    background-color: #fff;
    height: 100%;
}

.poster {
    flex: 1;
    margin-right: 10px;
}

.poster img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.performance-details {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.performance-details h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.performance-details p {
    margin-bottom: 5px;
    font-size: 0.85rem;
}

/* region-list와 row 사이 간격 */
.region-list {
    margin-bottom: 20px;
}

/* 각 카드 간의 가로 및 세로 구분선을 추가 */
.col-3 {
    padding: 15px;
    border-right: 1px solid #e0e0e0; /* 세로 구분선 */
    border-bottom: 1px solid #e0e0e0; /* 가로 구분선 */
}

/* 마지막 열에 세로 구분선 없앰 */
.col-3:nth-child(4n) {
    border-right: none;
}
