.search-center-detail {
    .search-center-container {
        display: flex;              
        flex-wrap: wrap;            
        gap: 3%;                   
        padding: 0 1rem 1rem 1rem;            
        align-items: center;       
        width: 100%;                
    }

    .list-detail {
        margin: 0.5rem;          
        padding: 0.5rem;         
        border-radius: 4px;      
        display: flex;  
        align-items: center;  
        gap: 2%;                 
    }

    .list-detail:nth-child(1) {
        flex: 0 1 25%;           
    }

    .list-detail:nth-child(2) {
        flex: 0 1 30%;           
    }

    .list-detail:nth-child(3) {
        flex: 0 1 12%;          
    }

    .list-detail:nth-child(4) {
        flex: 0 1 12%;          
    }

    .list-detail-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit; 
    }

    @media (max-width: 768px) {
        .search-center-container {
            flex-direction: column;  
            align-items: flex-start;
            padding-top: 0%;
            padding-bottom: 5%;
        }

        .list-detail {
            flex: 1 1 auto;
            width: 100%;   
        }

        .list-detail:nth-child(1) {
            font-weight: bold;          
        }

        .hidden {
            display: none;
        }
    }
}
