.text-spinner-container {
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  margin-inline: auto;
  margin-top: 10%;
 

  .spinner {
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
    color: var(--highlight-color3);
    border-width: 1rem;
  }
  /* .spinner-image {
    width: 50%; 
    height: auto; 
  } */
}
