/* SearchFilter.css */
.search-filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경 어둡게 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  
  
  .search-filter-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
  }
  
  .search-filter-modal h2 {
    margin-bottom: 20px;
  }

  .check-genre h5, .check-local h5{
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .check-genre-container, .check-local-container {
    border: 1px solid var(--highlight-color1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1rem;
  }
  .check-local-container {
    border: 1px solid var(--highlight-color1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .local-seperate {
    column-count: 2; /* 2열로 분할 */
    column-gap: 20px; /* 열 간격 */
  }
  
  .checkbox-group {
    break-inside: avoid; /* 열 분할 시 그룹 깨짐 방지 */
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .checkbox-group {
    margin-bottom: 0.5rem;
  }
  
  .checkbox-group label {
    display: flex;
    align-items: center;
  }
  
  .checkbox-group input {
    margin-right: 0.5rem;
  }
  
  .check-btn-area {
    display: flex;
    width: 100%;
    margin-top: 1rem;
  }
  
  .check-btn-area button {
    flex: 1;
    margin: 0 0.5rem;
  }

  .check-btn-area .btn-submit {
    background-color: var(--highlight-color3);
    border: 1px solid var(--highlight-color3); 
    color: white; 
  }
  
  .check-btn-area .btn-submit:hover {
    background-color: var(--highlight-color3);
    border: 1px solid var(--highlight-color3);
    color: white; 
  }
  
  .check-btn-area .btn-delete {
    background-color: white;
    border: 2px solid var(--highlight-color3); 
    color: var(--highlight-color3); 
    font-weight: bold;
  }
  
  .check-btn-area .btn-delete:hover {
    background-color: var(--highlight-color4);
    border: 1px solid var(--highlight-color4); 
    color: white;
  }
  
}