@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/variable/woff2/SUITE-Variable.css');

.ContentsPage_All_Container{
    margin-top: 0;
}

.ContentsPage_text-center{
    margin-bottom: 50px;
    font-family: 'SUITE Variable', sans-serif;
    font-size: 70px;
}

.ContentsPage_row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContentsPage_col-lg-12{
    width: 100%;
    align-items: center;
}


.progress-bar {
 background-color: black;
}

@media only screen and (min-width: 1000px)  {
    .col-lg-12{
        height: 900px;
        max-height: 1320px;
        width: 100%;
        align-items: center;
    }

    .row {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 500px) {
    .ContentsPage_text-center{
        margin-bottom: 50px;
        font-family: 'SUITE Variable', sans-serif;
        font-size: 40px;
    }
}