@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/variable/woff2/SUITE-Variable.css');

.ContentsPage_All_Container{
    margin-top: 0;
}

.ContentsPage_text-center{
    margin-bottom: 50px;
    font-family: 'SUITE Variable', sans-serif;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 10px;
    color: var(--highlight-color4);;
}

.ContentsPage_row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.ContentsPage_col-lg-12{
    width: 100%;
    align-items: center;
    min-height: 1300px;
}

.ContentsPage_NotFoundText{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1300px;
}


.progress-bar {
 background-color: black;
}

@media only screen and (min-width: 1000px)  {
    .ContentsPage_col-lg-12{
        height: auto;
        max-height: 3000px;
        width: 100%;
        align-items: center;
    }

    .ContentsPage_row {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 500px) {
    .ContentsPage_text-center{
        margin-bottom: 50px;
        font-family: 'SUITE Variable', sans-serif;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ContentsPage_col-lg-12{
        width: 100%;
        align-items: center;
        height: auto;
    }

}