@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/variable/woff2/SUITE-Variable.css');

* { margin: 0; padding: 0; box-sizing: border-box; }
body {line-height: 1;}
ul { list-style: none; margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
a { text-decoration: none; color: inherit; display: block; }
input, select, textarea, fieldset { border: 0; }
img { vertical-align: top; border: 0; }

body {
  font-family: 'SUITE Variable', sans-serif;
  color: var(--main-font-color);
  background-color: var(--bs-light);
}

:root {
  --main-font-color: #333333;
  --highlight-color1: #383554;
  --highlight-color2: #7b5482;
  --highlight-color3: #b8749d;
  --highlight-color4: #cea6c0;
  --gray-color1: #cea6c0;
}
