@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/variable/woff2/SUITE-Variable.css');
    .ContentsPage_container {

        .ContentsPage_card-box-container{
        }
        /* width: 30%; */
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.1);
            border-radius: 10px;
        }
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 3/4;
        }

    }

.ContentsPage_text-box span {
    margin-bottom: 4px; /* 필요한 간격으로 설정 */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


