.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  .card-box {
    width: 30%;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.05);
    }
    img {
      width: 100%;
    }
  }
}
